html {
    background: #1a1a1a;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    border: 1px solid #3a3a3a;
    background-color: #2a2a2a;
}

button:hover {
    border: 1px solid #4a4a4a;
    background-color: #3a3a3a;
    cursor: pointer;
}

textarea, input {
    border: 1px solid #4a4a4a;
    background-color: #3a3a3a;
}