<link rel="stylesheet" href="/static/design.css">
<link rel="stylesheet" href="/static/styles.css">
<title>jStem - home</title>
<div class="container">
    <div class="jStems">
        <h1>Your stems:</h1>
        <button class="newstem">New stem</button>
        <div class="songList">
            <div class="song example hidden">
                <p class="title">Example song</p>
                <p class="error hidden">JSON syntax errors detected</p>
                <button class="songOption editbtn">edit</button>
                <button class="songOption deletebtn">delete</button>
            </div>
        </div>
    </div>

    <div class="editor hidden">
        <textarea class="stemJSON" spellcheck="false"></textarea>
        <div class="editorButtons">
            <button class="editorButton save">save</button>
            <button class="editorButton close">close</button>
            <button class="editorButton syntax">syntax</button>
        </div>
    </div>
</div>

<div class="nowPlaying">
    <div class="songInfo">
        <p class="playingText">Not playing</p>
    </div>
    <div class="songControls">
        <button class="control prev">◀ ◀</button>
        <button class="control play">▶</button>
        <button class="control next">▶ ▶</button>
    </div>
</div>

<script src="/static/easystem.js"></script>
<script src="/static/player.js"></script>